@page
@model eGovernmernt_Service.Pages.Home_Affairs.ViewApplicationsModel
@{
}
<div class="container">
    <partial name="_LoginPartial" />
</div>


<div class="row">
    <div class="col-md-4 mx-auto rounded border p-5">
        <section>
            <h2 class="text-center mb-3">Update Applications.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <form id="account" method="post">
                <div class="mb-3">
                    <label class="form-label" for="AppID">Application ID:</label>
                    <input id="AppID" class="form-control" name="AppID" value="@Model.Record.AppID" readonly />
                </div>
                <div class="mb-3">
                    <label for="FullNames">Full Names:</label>
                    <input id="FullNames" class="form-control" name="FullNames" value="@Model.Record.FullNames" readonly />
                </div>
                <div class="mb-3">
                    <label for="TypeApp">Application Type:</label>
                    <input id="TypeApp" name="TypeApp" value="@Model.Record.TypeApp" />
                </div>
                <div class="mb-3">
                    <label for="HomeAddress">Home Address:</label>
                    <input id="HomeAddress" class="form-control" name="HomeAddress" value="@Model.Record.HomeAddress" readonly />
                </div>
                <div class="mb-3">
                    <label for="ContactNumber">Contact Number:</label>
                    <input id="ContactNumber" class="form-control" name="ContactNumber" value="@Model.Record.ContactNumber" readonly />
                </div>
                <div class="mb-3">
                    <label for="DateOfBirth">Date of Birth:</label>
                    <input id="DateOfBirth" class="form-control" name="DateOfBirth" value="@Model.Record.DateOfBirth" readonly />
                </div>
                <div class="mb-3">
                    <label for="BirthCertificate">Birth Certificate:</label>
                    <input id="BirthCertificate" class="form-control" name="BirthCertificate" value="@Model.Record.BirthCertiificate" readonly />
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Status:</label>
                    <div class="col-sm-8">
                        <select id="Status" name="Status" asp-for="Record.Status" class="form-control">
                            <option value="In Review" selected="@Model.Record.Status == "In Review"">In Review</option>
                            <option value="Complete" selected="@Model.Record.Status == "Complete"">Complete</option>
                            <option value="Rejected" selected="@Model.Record.Status == "Rejected"">Rejected</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" asp-page="./Index" class="btn btn-primary">Save Changes</button>
                        <button asp-page="./Index" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>


            </form>
        </section>
    </div>

</div>